body {background-color: rgb(218, 193, 160);}
.img-1 {width: 600px;}
.img-2 {width: 200px;}
.txt-1 {text-align: justify;}
.txt-2 {text-align: justify;}
.txt-1 {font-size: 28px;}
.txt-2 {font-size: 28px;}
.txt-3 {text-align:justify;}
.img-3 {width: 200px;}
.img-4 {width: 200px;}
.img-5 {width: 350px;}
.txt-10 {text-align: justify;}
.txt-10 {font-size: 25px;}
.txt-8 {text-align: justify;}
.txt-11 {font-size: 25px;}
.txt-12 {font-size: 25px;}
.txt-13 {font-size: 25px;}
.txt-14 {font-size: 25px;}
.txt-15 {font-size: 25px;}
